In [2]:
from sklearn.datasets import make_classification
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier

In [3]:
# example of pca for dimensionality reduction
from sklearn.datasets import make_classification
from sklearn.decomposition import PCA

In [4]:
import pandas as pd

In [5]:
# import XLS file
path = ".\\credit_cards_dataset.csv"
#data = pd.read_excel(path, skiprows=1) # skip the first row of the spreadsheet

#path = 'C:\\Users\\User\\Desktop\\data\\original_data.csv'
#data = pd.read_csv(path, skiprows=1) # skip the first row of the spreadsheet
data = pd.read_csv(path) # skip the first row of the spreadsheet

In [6]:
y='default.payment.next.month'
X = [name for name in data.columns if name not in [y, 'ID', 'Y_Value']]
print('y =', y)
print('X =', X)

y = default.payment.next.month
X = ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

In [7]:
X=data[X]

In [8]:
X

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
1,120000.0,2,2,2,26,-1,2,0,0,0,...,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,70000.0,1,2,2,30,1,2,2,0,0,...,65701.0,66782.0,36137.0,36894.0,3200.0,0.0,3000.0,3000.0,1500.0,0.0
3,20000.0,1,1,2,24,0,0,2,2,2,...,17428.0,18338.0,17905.0,19104.0,3200.0,0.0,1500.0,0.0,1650.0,0.0
4,120000.0,2,2,1,39,-1,-1,-1,-1,-1,...,316.0,0.0,632.0,316.0,316.0,316.0,0.0,632.0,316.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,140000.0,1,2,1,41,0,0,0,0,0,...,139110.0,138262.0,49675.0,46121.0,6000.0,7000.0,4228.0,1505.0,2000.0,2000.0
29996,10000.0,1,3,1,43,0,0,0,-2,-2,...,0.0,0.0,0.0,0.0,2000.0,0.0,0.0,0.0,0.0,0.0
29997,100000.0,1,1,2,38,0,-1,-1,0,0,...,102996.0,70626.0,69473.0,55004.0,2000.0,111784.0,4000.0,3000.0,2000.0,2000.0
29998,220000.0,1,3,1,39,0,0,0,0,0,...,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0
29999,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0

In [9]:
y=data['default.payment.next.month']

In [10]:
y

0        1
1        1
2        1
3        1
4        1
        ..
29995    0
29996    0
29997    0
29998    0
29999    0
Name: default.payment.next.month, Length: 30000, dtype: int64

In [11]:
X.shape

(30000, 23)

In [12]:
y.shape

(30000,)

In [13]:
y.ndim

1

In [13]:
trans = PCA(n_components=10)

In [14]:
X_dim = trans.fit_transform(X)

In [15]:
print(X_dim[:3,:])

[[-1.66488191e+05 -7.55381537e+04 -4.72952106e+02 -1.38240596e+02
   3.56372601e+02 -2.28581767e+01 -8.61737802e+02  7.90130840e+01
   1.89499608e+02  7.14585844e+02]
 [-1.14226977e+05  9.78067125e+03  2.73444748e+03 -1.56719589e+03
  -4.05071033e+03  6.96602606e+02 -1.51605853e+03  1.26172075e+03
  -6.26282074e+02  4.83598389e+02]
 [-2.27320559e+04 -9.98423373e+04 -1.22004105e+04  6.63090326e+03
  -1.11713115e+04 -7.08087079e+03 -9.64321055e+02 -6.50375039e+03
  -1.57440793e+02 -8.85756967e+03]]