In [1]:
from sklearn.datasets import make_classification
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier

In [2]:
import pandas as pd

In [3]:
# import XLS file
path = ".\\credit_cards_dataset.csv"
#data = pd.read_excel(path, skiprows=1) # skip the first row of the spreadsheet

#path = 'C:\\Users\\User\\Desktop\\data\\original_data.csv'
#data = pd.read_csv(path, skiprows=1) # skip the first row of the spreadsheet
data = pd.read_csv(path) # skip the first row of the spreadsheet

In [4]:
y='default.payment.next.month'
X = [name for name in data.columns if name not in [y, 'ID', 'Y_Value']]
print('y =', y)
print('X =', X)

y = default.payment.next.month
X = ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

In [5]:
X=data[X]

In [6]:
X

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
1,120000.0,2,2,2,26,-1,2,0,0,0,...,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,70000.0,1,2,2,30,1,2,2,0,0,...,65701.0,66782.0,36137.0,36894.0,3200.0,0.0,3000.0,3000.0,1500.0,0.0
3,20000.0,1,1,2,24,0,0,2,2,2,...,17428.0,18338.0,17905.0,19104.0,3200.0,0.0,1500.0,0.0,1650.0,0.0
4,120000.0,2,2,1,39,-1,-1,-1,-1,-1,...,316.0,0.0,632.0,316.0,316.0,316.0,0.0,632.0,316.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,140000.0,1,2,1,41,0,0,0,0,0,...,139110.0,138262.0,49675.0,46121.0,6000.0,7000.0,4228.0,1505.0,2000.0,2000.0
29996,10000.0,1,3,1,43,0,0,0,-2,-2,...,0.0,0.0,0.0,0.0,2000.0,0.0,0.0,0.0,0.0,0.0
29997,100000.0,1,1,2,38,0,-1,-1,0,0,...,102996.0,70626.0,69473.0,55004.0,2000.0,111784.0,4000.0,3000.0,2000.0,2000.0
29998,220000.0,1,3,1,39,0,0,0,0,0,...,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0
29999,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0

In [7]:
y=data['default.payment.next.month']

In [8]:
y

0        1
1        1
2        1
3        1
4        1
        ..
29995    0
29996    0
29997    0
29998    0
29999    0
Name: default.payment.next.month, Length: 30000, dtype: int64

In [9]:
X.shape

(30000, 23)

In [10]:
y.shape

(30000,)

In [11]:
y.ndim

1

In [12]:
# define RFE
rfe = RFE(estimator=DecisionTreeClassifier(), n_features_to_select=5)

In [13]:
# fit RFE
rfe.fit(X, y)

RFE(estimator=DecisionTreeClassifier(), n_features_to_select=5)

In [14]:
# summarize all features
for i in range(X.shape[1]):
  print('Column: %d, Selected=%s, Rank: %d' % (i, rfe.support_[i], rfe.ranking_[i]))

Column: 0, Selected=False, Rank: 8
Column: 1, Selected=False, Rank: 16
Column: 2, Selected=False, Rank: 13
Column: 3, Selected=False, Rank: 17
Column: 4, Selected=False, Rank: 3
Column: 5, Selected=True, Rank: 1
Column: 6, Selected=False, Rank: 12
Column: 7, Selected=False, Rank: 14
Column: 8, Selected=False, Rank: 19
Column: 9, Selected=False, Rank: 18
Column: 10, Selected=False, Rank: 15
Column: 11, Selected=True, Rank: 1
Column: 12, Selected=True, Rank: 1
Column: 13, Selected=False, Rank: 10
Column: 14, Selected=True, Rank: 1
Column: 15, Selected=False, Rank: 2
Column: 16, Selected=True, Rank: 1
Column: 17, Selected=False, Rank: 6
Column: 18, Selected=False, Rank: 4
Column: 19, Selected=False, Rank: 7
Column: 20, Selected=False, Rank: 11
Column: 21, Selected=False, Rank: 9
Column: 22, Selected=False, Rank: 5