### one hot encode

For example, imagine we have a “color” variable with three categories (‘red‘, ‘green‘, and ‘blue‘). In this case, three binary variables are needed. A “1” value is placed in the binary variable for the color and “0” values for the other colors.

red,	green,	blue
1,		0,		0
0,		1,		0
0,		0,		1

In [17]:
# one hot encode the breast cancer dataset
from pandas import read_csv
from sklearn.preprocessing import OneHotEncoder

In [18]:
# define the location of the dataset
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/breast-cancer.csv"

In [19]:
# load the dataset
dataset = read_csv(url, header=None)

In [20]:
dataset[1].unique()

array(["'premeno'", "'ge40'", "'lt40'"], dtype=object)

In [21]:
dataset[0].unique()

array(["'40-49'", "'50-59'", "'60-69'", "'30-39'", "'70-79'", "'20-29'"],
      dtype=object)

In [22]:
# retrieve the array of data
data = dataset.values

In [23]:
data.shape

(286, 10)

In [24]:
# separate into input and output columns
X = data[:, :-1].astype(str)
y = data[:, -1].astype(str)

In [25]:
# summarize the raw data
print(X[:1, :])

[["'40-49'" "'premeno'" "'15-19'" "'0-2'" "'yes'" "'3'" "'right'"
  "'left_up'" "'no'"]]

In [26]:
print(X[:3, :])

[["'40-49'" "'premeno'" "'15-19'" "'0-2'" "'yes'" "'3'" "'right'"
  "'left_up'" "'no'"]
 ["'50-59'" "'ge40'" "'15-19'" "'0-2'" "'no'" "'1'" "'right'" "'central'"
  "'no'"]
 ["'50-59'" "'ge40'" "'35-39'" "'0-2'" "'no'" "'2'" "'left'" "'left_low'"
  "'no'"]]

In [27]:
X.shape

(286, 9)

In [28]:
# define the one hot encoding transform
encoder = OneHotEncoder(sparse=True) #(sparse=False)압축풀기.

In [29]:
encoder

OneHotEncoder()

In [30]:
# fit and apply the transform to the input data
X_oe = encoder.fit_transform(X)

In [31]:
X_oe.shape

(286, 43)

In [32]:
#dataset.iloc[0].unique().count

In [33]:
dataset.iloc[0,:]

0                '40-49'
1              'premeno'
2                '15-19'
3                  '0-2'
4                  'yes'
5                    '3'
6                'right'
7              'left_up'
8                   'no'
9    'recurrence-events'
Name: 0, dtype: object

In [34]:
X_oe[0:7,0]

<7x1 sparse matrix of type '<class 'numpy.float64'>'
	with 0 stored elements in Compressed Sparse Row format>

In [35]:
# summarize tratransformed data
print(X_oe[:1, :])

  (0, 2)	1.0
  (0, 8)	1.0
  (0, 11)	1.0
  (0, 20)	1.0
  (0, 28)	1.0
  (0, 32)	1.0
  (0, 34)	1.0
  (0, 37)	1.0
  (0, 41)	1.0

In [36]:
encoder = OneHotEncoder() # OneHotEncoder(sparse=True)

In [37]:
# fit and apply the transform to the input data
X_oe = encoder.fit_transform(X)

In [38]:
X_oe.shape

(286, 43)

In [39]:
# summarize tratransformed data
print(X_oe[:1, :])

  (0, 2)	1.0
  (0, 8)	1.0
  (0, 11)	1.0
  (0, 20)	1.0
  (0, 28)	1.0
  (0, 32)	1.0
  (0, 34)	1.0
  (0, 37)	1.0
  (0, 41)	1.0

In [40]:
print(X_oe[:3, :])

  (0, 2)	1.0
  (0, 8)	1.0
  (0, 11)	1.0
  (0, 20)	1.0
  (0, 28)	1.0
  (0, 32)	1.0
  (0, 34)	1.0
  (0, 37)	1.0
  (0, 41)	1.0
  (1, 3)	1.0
  (1, 6)	1.0
  (1, 11)	1.0
  (1, 20)	1.0
  (1, 27)	1.0
  (1, 30)	1.0
  (1, 34)	1.0
  (1, 35)	1.0
  (1, 41)	1.0
  (2, 3)	1.0
  (2, 6)	1.0
  (2, 15)	1.0
  (2, 20)	1.0
  (2, 27)	1.0
  (2, 31)	1.0
  (2, 33)	1.0
  (2, 36)	1.0
  (2, 41)	1.0

In [41]:
import pandas as pd

In [42]:
fruit = pd.DataFrame({'name':['apple', 'banana', 'cherry', 'durian'],
                      'color':['red', 'yellow', 'red', 'green']})   
fruit

     name   color
0   apple     red
1  banana  yellow
2  cherry     red
3  durian   green

In [43]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(fruit['name'])
fruit['name'] = le.transform(fruit['name'])
fruit

   name   color
0     0     red
1     1  yellow
2     2     red
3     3   green