In [18]:
!cd

C:\Users\admin\Desktop\데이터 공부 자료\day20\2021-K-Digital-Training-main\SQL

In [19]:
import pymysql.cursors

In [20]:
connection = pymysql.connect(host='localhost',
        user='me',
        password='9421',
        db='classicmodels',
        charset='utf8',
        cursorclass=pymysql.cursors.DictCursor)
sql="select customers.customerNumber, customers.salesRepEmployeeNumber, \
payments.checkNumber from customers left join \
payments on customers.customerNumber=payments.customerNumber; "

try:
    with connection.cursor() as cursor:
        # Read a single record
        #sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
        #sql = "select count(total_bill) from tip.tips where tip >=7;"
        cursor.execute(sql)
        result = cursor.fetchone()
        print(result)
finally:
    connection.close()

{'customerNumber': 125, 'salesRepEmployeeNumber': None, 'checkNumber': None}

In [21]:
import pandas as pd

In [22]:
conn = pymysql.connect(host='localhost', user='me', 
                       password='9421', db='classicmodels', charset='utf8',
                       autocommit=True, cursorclass=pymysql.cursors.DictCursor)
try:

   with conn.cursor() as curs:
      sql = "select customers.customerNumber, customers.salesRepEmployeeNumber, payments.checkNumber from customers left join payments on customers.customerNumber=payments.customerNumber; "
      curs.execute(sql)
      rs = curs.fetchall()

      # DB에서 받아온 값을 DataFrame에 넣음

      df = pd.DataFrame(rs)
      print(df)
    
    #df.to_csv('query.csv')

finally:

   conn.close()

     customerNumber  salesRepEmployeeNumber checkNumber
0               125                     NaN        None
1               169                     NaN        None
2               206                     NaN        None
3               223                     NaN        None
4               237                     NaN        None
..              ...                     ...         ...
292             458                  1702.0    DD995006
293             458                  1702.0    NA377824
294             458                  1702.0    OO606861
295             484                  1702.0    GK294076
296             484                  1702.0    JH546765

[297 rows x 3 columns]

In [23]:
df.isnull().sum()

customerNumber             0
salesRepEmployeeNumber    22
checkNumber               24
dtype: int64

In [24]:
data=df.values
ix=[i for i in range(data.shape[1]) if i !=3]

In [25]:
#data

In [26]:
X=data[:,:1]

In [27]:
#X

In [28]:
from sklearn.impute import SimpleImputer

In [29]:
# define imputer
# 평균,최빈값,중간값 등 빈값을 자신이 원하는 데로 넣을 수 있다.
imputer = SimpleImputer(strategy='mean')

# fit on the dataset
imputer.fit(X)

# transform the dataset
Xtrans = imputer.transform(X)

In [30]:
from numpy import isnan

In [31]:
print('Missing: %d' % sum(isnan(Xtrans).flatten()))

Missing: 0